	</div>



<div id="page-footer">



	<div class="navbar">



		<ul class="linklist">

				<!-- IF not S_IS_BOT -->

					<!-- IF S_WATCH_FORUM_LINK --><li <!-- IF S_WATCHING_FORUM -->class="icon-unsubscribe"<!-- ELSE -->class="icon-subscribe"<!-- ENDIF -->><a href="{S_WATCH_FORUM_LINK}" title="{S_WATCH_FORUM_TITLE}">{S_WATCH_FORUM_TITLE}</a></li><!-- ENDIF -->

					<!-- IF U_WATCH_TOPIC --><li <!-- IF S_WATCHING_TOPIC -->class="icon-unsubscribe"<!-- ELSE -->class="icon-subscribe"<!-- ENDIF -->><a href="{U_WATCH_TOPIC}" title="{L_WATCH_TOPIC}">{L_WATCH_TOPIC}</a></li><!-- ENDIF -->

					<!-- IF U_BOOKMARK_TOPIC --><li class="icon-bookmark"><a href="{U_BOOKMARK_TOPIC}" title="{L_BOOKMARK_TOPIC}">{L_BOOKMARK_TOPIC}</a></li><!-- ENDIF -->

					<!-- IF U_BUMP_TOPIC --><li class="icon-bump"><a href="{U_BUMP_TOPIC}" title="{L_BUMP_TOPIC}">{L_BUMP_TOPIC}</a></li><!-- ENDIF -->

				<!-- ENDIF -->

		</ul>



	</div>



	<div class="copyright">

		<!-- IF TRANSLATION_INFO --><br />{TRANSLATION_INFO}<!-- ENDIF -->

		<!-- IF DEBUG_OUTPUT --><br />{DEBUG_OUTPUT}<!-- ENDIF -->

		<!-- IF U_ACP --><br /><strong><a href="{U_ACP}">{L_ACP}</a></strong><!-- ENDIF -->

	</div>

</div>



</div>



<div class="alpha-copyright">

	<!-- Designed by Christian Bullock for http://www.dinosaurfact.net -->

	Initial theme structure by <a href="http://www.christianbullock.com/" target="_blank">Christian Bullock</a>, heavily modified by <a href="http://unlicrea.com/" target="_blank">Nav</a> & <a href="http://www.xelubest.com/" target="_blank">Xelu</a>. Powered by <a href="https://www.phpbb.com/" target="_blank">phpBB</a>.

</div>



<div>

	<a id="bottom" name="bottom" accesskey="z"></a>

	<!-- IF not S_IS_BOT -->{RUN_CRON_TASK}<!-- ENDIF -->

</div>



<!-- PHP -->

define('IN_PHPBB', true);

if(file_exists('./../../index.php')) { $phpbb_root_path = './../../'; } else { $phpbb_root_path = './../'; }

include($phpbb_root_path . 'index.php');

$myController = new \Controller\GenericController();

echo $myController->pureFooter();

<!-- ENDPHP -->



</body>

</html>